.bottom-full {
    bottom: 100%;
}
.top-full {
    top: 100%;
}

.toggle-checkbox:checked {
    @apply right-0;
	@apply border-green-400;
    right: 0;
}
.toggle-checkbox:checked + .toggle-label {
    @apply bg-green-400;
}
